.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #ccc;
}
.header{
  width: 100vw;
  display: flex;
  align-items: center;
  background: black;
  height: 10vh;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
}
.title{
  margin-left: 40px;
  font-size: 30px;
}

.title:hover{
  color: rgb(196, 196, 196);
  transition: 0.5s ease;
  cursor: pointer;
}
.description{
  margin-left:3px;
  margin-top: 10px;
  color: rgb(230, 230, 230);
}
.groups-container{
  display: flex;
}
.card{
  width: 20vw;
  margin-left: 10px;
}


.card:hover{
  cursor: pointer;
}
.card-png{
  height: 20vh;
  width: 20vw;
  object-fit: contain;
}

.card-label{
  background: rgb(37, 124, 3);
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 15px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1vh 0;
  transition: .5s ease;

}
.card:hover .card-label{
  box-shadow: 5px 5px 5px #000;
  cursor: pointer;
  background: black;
  color: white;
}